@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;

}




#bannerColor{
    background: rgb(255, 251, 240);
    position: relative;
}
#bannerColor > img{
    position: absolute;
    overflow: hidden;
    top: -105px;
    left: 600px;
}


.navBar{
    padding: 0 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navBar > img {
    height: 60px;
}
.navBar > ul{
    display: flex;
    gap: 20px;
}
.navBar > ul > li > a{
    color: rgb(60, 60, 60);
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
}
.navBar > span {
    display: none;
}


/* banner */

.banner{
    display: flex;
    justify-content: space-between;
    padding: 0 100px 130px;
    flex-direction: row-reverse;
}
.bannerText > h1{
    font-family: Bebas Neue;
    font-size: 80px;
    font-weight: 700;
    color: rgb(250, 128, 76);
    margin-top: 100px;
}
.bannerText > h1 > span{
    color: rgb(54, 57, 88);
}
.bannerText > p{
    color: rgb(62, 62, 62);
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 20px;
}
.bannerText > a > button{
    color: rgb(255, 255, 255);
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    border-radius: 10px;
    background: linear-gradient(180.00deg, rgb(61, 79, 243),rgb(53, 67, 188) 100%);
    padding: 18px 34px;
    border: none;
}


.bannerImg {
    position: relative;
    height: 430px;
}
.bannerImg > img{
    height: 100%;
}
#girlimg {
    position: absolute;
    top: -140px;
    left: 34px;
    height: 571px;
}


/* woman */
#womanSection{
    padding: 0 100px;
}
#womanSection > h2{
    color: rgb(54, 57, 88);
    font-family: Bebas Neue;
    font-size: 48px;
    font-weight: 700;
    margin: 50px 0;
}
.clothDisplay{
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 80px;
}
.dImg{
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    width: auto;
    height: 300px;
    background: rgb(241, 241, 241);
}
.dImg > img{
   height: 100%;
   width: 280px;
}
.displayCart{
    padding: 18px;
    border: 1px solid rgba(0, 0, 0, 0) ;
    border-radius: 20px;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.04);
}
.displayCart > h3{
    color: rgb(54, 57, 88);
    font-family: Roboto;
    font-size: 24px;
    font-weight: 700;
    margin-top: 17px;
}
.displayCart > p{
    color: rgb(62, 62, 62);
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
}
.priceButton {
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
    align-items: center;
}
.priceButton > h2{
    color: rgb(250, 128, 76);;
    font-family: Roboto;
    font-size: 36px;
    font-weight: 900;
}
.priceButton > a > button{
    color: rgb(255, 255, 255);
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    border-radius: 10px;
    background: linear-gradient(180.00deg, rgb(61, 79, 243),rgb(53, 67, 188) 100%);
    padding: 18px 34px;
    border: none;
}
/* lastpart */

.info{
    padding: 0 100px;
    margin-top: 130px;
    gap: 15%;
    display: flex;
    justify-content: center;

}
.infoPart{
    gap: 20px;
    border-radius: 20px;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.04);
    display: flex;
    align-items: center;
}
.infoPart > img{
    height: 130px
}
.infoText {
    display: flex;
    gap: 20px;
    flex-direction: column;
}
.infoText > h2 {
    color: rgb(54, 57, 88);
    font-family: Roboto;
    font-size: 24px;
    font-weight: 700;
}
.infoText > p {
    color: rgb(62, 62, 62);
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
}
.info3 {
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.infoSideImg{
    width: 50%;
}
.infoSideImg > img{
    width: 100%;
}

@media screen and (max-width: 576px){
    #bannerColor > img{
        display: none;
    }
    .navBar{
        padding: 0 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .navBar > img {
        height: 30px;
    }
    .navBar > ul{
        display: none;
    }
    .navBar > span {
        display: block;
    }
    .banner{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 30px;
        padding: 0 20px 130px;
    }
    .bannerText > h1 {
        font-family: Bebas Neue;
        font-size: 60px;
        font-weight: 700;
        line-height: 60px;
        margin-top: 50px;
    }

    .bannerImg {
        position: relative;
        height: 350px;
        width: 350px;
        text-align: center;
    }
    #girlimg {
        position: absolute;
        top: -128px;
        left: 23px;
        height: 478px;
    }

    #womanSection {
        padding: 0 20px;
    }
    .clothDisplay {
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 30px;
        margin-bottom: 80px;
    }


    .info {
        padding: 0 20px;
        margin-top: 100px;
        gap: 50px;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
    }
    .infoPart {
        gap: 20px;
        border-radius: 20px;
        padding: 20px;
        box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.04);
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
    .info3 {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 25px;
    }
    .infoSideImg {
        width: 100%;
    }
}